<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="http://keith-wood.name/css/jquery.countdown.css"> 
<script type="text/javascript" src="http://keith-wood.name/js/jquery.plugin.js"></script> 
<script type="text/javascript" src="http://keith-wood.name/js/jquery.countdown.js"></script>
